<div class="container-fluid p-5 my-5">
  <div class="d-flex justify-content-evenly row">
    <div class="col-4">
      <h2 class="mt-5 mb-3 text-center">Games</h2>
      <form
        [formGroup]="gamePlayerForm"
        class="d-flex flex-column gap-3"
        (ngSubmit)="gameAmount()"
      >
        <select
          class="form-select bg-dark shadow-sm p-3 text-light"
          formControlName="player"
          name="customer"
          autocomplete="off"
        >
          <option value="" selected disabled hidden>Select Player</option>
          <option
            [value]="customer.name"
            *ngFor="let customer of nonSubCustomers"
          >
            {{ customer.name }}
          </option>
        </select>
        <input
          type="date"
          name="startDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="Start Date"
          formControlName="startDate"
        />

        <input
          type="date"
          name="endDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="End Date"
          formControlName="endDate"
        />
        <button class="btn btn-warning p-3">Calculate</button>
      </form>
      <h1 class="fw-bold text-warning my-4 text-center" *ngIf="nonSubgameSum">
        {{ round(nonSubgameSum) | currency : "INR" }} <br />
        <span
          class="fs-5"
          *ngIf="gamePlayerForm.value.startDate && gamePlayerForm.value.endDate"
        >
          [ {{ gamePlayerForm.value.startDate | date : "mediumDate" }} -
          {{ gamePlayerForm.value.endDate | date : "mediumDate" }}
          ]
        </span>
      </h1>
    </div>
    <div class="col-4">
      <h2 class="mt-5 mb-3 text-center">Games (Sub)</h2>
      <form
        [formGroup]="gameForm"
        class="d-flex flex-column gap-3"
        (ngSubmit)="gameAmountSub()"
      >
        <select
          class="form-select bg-dark shadow-sm p-3 text-light"
          formControlName="player"
          name="customer"
          autocomplete="off"
        >
          <option value="" selected disabled hidden>Select Subscriber</option>
          <option [value]="customer.name" *ngFor="let customer of subCustomers">
            {{ customer.name }}
          </option>
        </select>
        <input
          type="date"
          name="startDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="Start Date"
          formControlName="startDate"
        />

        <input
          type="date"
          name="endDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="End Date"
          formControlName="endDate"
        />
        <button class="btn btn-warning p-3">Calculate</button>
      </form>
      <h1 class="fw-bold text-warning my-4 text-center" *ngIf="subgameSum">
        {{ round(subgameSum) }} min <br />
        <span
          class="fs-5"
          *ngIf="gameForm.value.startDate && gameForm.value.endDate"
        >
          [ {{ gameForm.value.startDate | date : "mediumDate" }} -
          {{ gameForm.value.endDate | date : "mediumDate" }}
          ]
        </span>
      </h1>
    </div>
    <div class="col-4">
      <h2 class="mt-5 mb-3 text-center">Orders</h2>
      <form
        [formGroup]="orderForm"
        class="d-flex flex-column gap-3"
        (ngSubmit)="orderAmount()"
      >
        <select
          class="form-select bg-dark shadow-sm p-3 text-light"
          formControlName="player"
          name="customer"
          autocomplete="off"
        >
          <option value="" selected disabled hidden>Select Customer</option>
          <option [value]="customer.name" *ngFor="let customer of customers">
            {{ customer.name }}
          </option>
        </select>
        <input
          type="date"
          name="startDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="Start Date"
          formControlName="startDate"
        />

        <input
          type="date"
          name="endDate"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          placeholder="End Date"
          formControlName="endDate"
        />
        <button class="btn btn-warning p-3">Calculate</button>
      </form>
      <h1 class="fw-bold text-warning my-4 text-center" *ngIf="orderSum">
        {{ orderSum | currency : "INR" }} <br />
        <span
          class="fs-5"
          *ngIf="orderForm.value.startDate && orderForm.value.endDate"
        >
          [ {{ orderForm.value.startDate | date : "mediumDate" }} -
          {{ orderForm.value.endDate | date : "mediumDate" }}
          ]
        </span>
      </h1>
    </div>
  </div>
  <div class="my-5">
    <div>
      <form [formGroup]="filterForm" class="d-flex gap-3">
        <select
          class="form-select p-3 bg-dark shadow-sm text-light"
          formControlName="billType"
          name="billType"
          autocomplete="off"
        >
          >
          <option value="games">Games</option>
          >
          <option value="orders">Orders</option>
        </select>
        <select
          class="form-select p-3 bg-dark shadow-sm text-light"
          formControlName="member"
          name="member"
          autocomplete="off"
        >
          >
          <option [value]="customer.name" *ngFor="let customer of customers">
            {{ customer.name }}
          </option>
          >
        </select>
        <input
          type="date"
          name="date"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          formControlName="startDate"
        />
        <input
          type="date"
          name="date"
          autocomplete="off"
          class="form-control p-3 bg-dark shadow-sm text-light"
          formControlName="endDate"
        />
        <button class="btn btn-primary">View</button>
      </form>
    </div>
  </div>
  <div
    class="my-5"
    *ngIf="filteredData && filterForm.value.billType === 'games'"
  >
    <div class="my-3 table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Board</th>
            <th scope="col">Started</th>
            <th scope="col">Ended</th>
            <th scope="col">Duration</th>
            <th scope="col">Amount</th>
            <th scope="col">Players</th>
            <th scope="col">Losers</th>
            <th scope="col">Played On</th>
            <th scope="col" colspan="2">Actions</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of filteredGames; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ game.board }}</td>
            <td class="text-success">{{ getFormattedTime(game.startTime) }}</td>
            <td class="text-danger">
              {{ game.endTime ? getFormattedTime(game.endTime) : "---" }}
            </td>
            <td class="text-primary">
              {{
                game.endTime
                  ? calcuateDuration(game.startTime, game.endTime)
                  : "---"
              }}
            </td>
            <td>
              {{
                game.endTime
                  ? (calculateTotalAmount(
                      game.board,
                      game.startTime,
                      game.endTime
                    ) | currency : "INR" : "Rs. ")
                  : "---"
              }}
            </td>
            <td style="text-align: left">
              <div *ngFor="let player of game.players">
                <div *ngIf="isPlayerSub(player.name)">
                  <div class="d-flex align-items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="yellow"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <span>{{ player.name }}</span>
                  </div>
                </div>
                <div *ngIf="!isPlayerSub(player.name)">
                  {{ player.name }}
                </div>
              </div>
            </td>

            <td style="text-align: left">
              <div *ngFor="let player of game.players">
                <div
                  *ngIf="isPlayerSub(player.name) && player.lost"
                  class="mb-1"
                >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div class="d-flex align-items-center gap-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="yellow"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                        <span>
                          {{ player.name }}
                        </span>
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <span>
                        {{
                          round2(
                            calculateMinutes(game.startTime, game.endTime!) /
                              countLostPlayers(game.players!)
                          )
                        }}
                        min
                      </span>

                      <div>
                        <button
                          *ngIf="player.payment === 'PAID'"
                          class="disabled btn btn-success btn-sm ms-2"
                        >
                          PAID
                        </button>

                        <button
                          *ngIf="player.payment === 'PENDING'"
                          class="disabled btn btn-warning btn-sm ms-2"
                        >
                          PENDING
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="player.lost && !isPlayerSub(player.name)"
                  class="mb-1"
                >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span>{{ player.name }}</span>
                    <div class="d-flex align-items-center gap-2">
                      <span>
                        {{
                          round2(
                            calculateTotalAmount(
                              game.board,
                              game.startTime,
                              game.endTime!
                            ) / countLostPlayers(game.players!)
                          ) | currency : "INR" : "Rs. "
                        }}
                      </span>

                      <div>
                        <button
                          *ngIf="player.payment === 'PAID'"
                          class="disabled btn btn-success btn-sm ms-2"
                        >
                          PAID
                        </button>

                        <button
                          *ngIf="player.payment === 'PENDING'"
                          class="disabled btn btn-warning btn-sm ms-2"
                        >
                          PENDING
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf="game.created">
              {{ game.created.toDate() | date : "mediumDate" }}
            </td>
            <td>
              <a class="btn" routerLink="/games/{{ game.id }}/edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="#20c997"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <a class="btn" routerLink="/games/{{ game.id }}/delete">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="#dc3545"
                  class="bi bi-trash3-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <a
                class="btn"
                *ngIf="game.comment"
                routerLink="/games/{{ game.id }}/edit"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="white"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                  />
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
